<div class="listItem">
    <h4>{{burger_name}}</h4>

    <button class="change-sleep burgerBtn" data-id="{{id}}" data-state="{{devoured}}">
        {{#if devoured}}SMASH!{{else}}DEVOURED!{{/if}}
    </button>

    <button class="delete-burger burgerBtn" data-id="{{this.id}}">DELETE!</button>
</div>