<li class="listItem">
    {{burger_name}}

    <button class="change-sleep" data-id="{{id}}" data-state="{{devoured}}">
        {{#if devoured}}SMASH!{{else}}DEVOURED!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>