<li>
    {{name}}

    <button class="change-sleep" data-id="{{id}}" data-newsleep="{{devoured}}">
        {{#if devoured}}DEVOURED!{{else}}SMASH!{{/if}}
    </button>

    <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>